<section class="title-row">
  <div class="title-container">
    <h2> <%= current_user.username %>'s Journal</h2>
  </div>
</section>

<main class="page">
  <div class="search-container form">
    <form class="search-bar" method="GET" action="/trips">
    <input type="text" name="query" placeholder="Search by Park Name">
    <input class="button" type="submit" value="Search">
    </form>
  </div>
  <div class="index-container">
    <div class="bucket-list">
      <h3> Camping Bucket List</h3>
      <ul>
        <%@bucketlist.each do |item|%>
        <li class="bucket-list-item">
        <%=item.park%> <br> <%=item.campground%>
        <br>
        <a href="/trips/<%=item.id%>/edit">Edit</a>
        <br>
        </li>
        <%end%>
      </ul>
    </div>

    <div class="entries">
      <h3> Journal Entries </h3>
      <ul>
        <%@trips.each do |trip|%>
        <li class="trip">
          <div class="date"> 
            <h4><%=trip.date_camped%></h4>
          </div>
          <div class="trip-details">
            PARK: <%=trip.park%> <br> 
            CAMPGROUND: <%=trip.campground%><br>
            
            <a href="/trips/<%=trip.id%>">View</a>  |  <a href="/trips/<%=trip.id%>/edit">Edit</a><br>
          </div>
        </li><br>
        <%end%>
      </ul>
    </div>
  </div>
</main>