<section class="hero container">
  <h2> <%= current_user.username %>'s Journal</h2>
</section>

<section class="row">
  <div class="grid">
    <h3> Journal Entries </h3>
    <ul>
      <%@trips.each do |trip|%>
      <li>
      <h4> <%=trip.date_camped%> </h4>
      PARK: <%=trip.park%> CAMPGROUND <%=trip.campground%><br>
      NOTES: <%=trip.notes%><br>
      <a href="/trips/<%=trip.id%>">View</a>  |  
      <a href="/trips/<%=trip.id%>/edit">Edit</a>
      </li><br>
      <%end%>
    </ul>
  <br>
  <h3> Camping Bucket List</h3>
  <ul>
    <%@bucketlist.each do |item|%>
    <li>
    <%=item.park%> - <%=item.campground%>
    <br>
    <a href="/trips/<%=item.id%>/edit">Edit</a>

    </li>
    <%end%>
  </ul>
</div>
</section>