  <h1> CampTales </h1>
  <h2> <%= current_user.username %>'s Journal</h2>
  <h3> Journal Entries </h3>
  <ul>
<%if visited?%>
  <li>
  <%=@trip_taken.date_camped%>
  <%=@trip_taken.park%>
  <%=@trip_taken.campground%>
  <%=@trip_taken.notes%>
  </li>
  <%end%>
  
  <h3> Camping Bucket List</h3>
  <ul>
<%if not_visited?%>
  <li>
  <%=@trip_not_taken.park%>
  <%=@trip_not_taken.campground%>
  <%=@trip_not_taken.notes%>
  </li>
  <%end%>
</ul>