<section class="row-alt">
  <div class="lead container">
<h1> Your Journal Entry </h1>
  </div>
</section>
<section class="row">
<div class="grid">
<%=@trip.date_camped%>
<%=@trip.park%>
<%=@trip.campground%>
<%=@trip.notes%>

<form method="POST" action="/trips/<%= @trip.id %>/delete">
  <input type = "hidden" name="_method" value="delete">
  <input type="submit" value="Delete Entry">
</form>
</div>
</section>