<section class="row-alt">
  <div class="lead container">
<h1> Your Journal Entry </h1>
  </div>
</section>
<section class="row">
<div class="grid">
<h4><%=@trip.date_camped%></h4>
PARK: <%=@trip.park%> CAMPGROUND: <%=@trip.campground%><br>
NOTES: <%=@trip.notes%><br>

<form method="POST" action="/trips/<%= @trip.id %>/delete">
  <input type = "hidden" name="_method" value="delete">
  <input type="submit" value="Delete Entry">
</form>
</div>
</section>