<section class="title-row">
  <div class="title-container">
    <h1> Your Journal Entry </h1>
  </div>
</section>

<main class="show-page">
<div class="single-trip">
  <h4><%=@trip.date_camped%></h4>
  PARK: <%=@trip.park%> CAMPGROUND: <%=@trip.campground%><br>
  NOTES: <%=@trip.notes%><br>

  <form method="POST" action="/trips/<%= @trip.id %>/delete">
  <input type = "hidden" name="_method" value="delete">
  <input type="submit" value="Delete Entry">
  </form>
</div>

</main>