<section class="title-row">
  <div class="title-container">
    <h2>Update Entry</h2>
  </div>
</section>

<main class="page">
  <div class="edit form">
    <form action="/trips/<%= @trip.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label>Edit Trip Date:</label>
      <input type="text" name ="trip[date_camped]" id="date_camped" value="<%= @trip.date_camped %>"><br>
      <br>
      <label>Edit Park Name:</label>
      <input type="text" name ="trip[park]" id="park_name" value="<%= @trip.park %>"><br>
      <br>
      <label>Edit Campground Name:</label>
      <input type="text" name ="trip[campground]" id="campground_name" value="<%= @trip.campground %>"><br>
      <br>
      <label>Edit Notes:</label><br>
      <textarea rows="8" cols="50" name ="trip[notes]" id="notes"><%= @trip.notes %></textarea>
      <br>
      
      <p>Select where you would like to store this entry:</p>
      <div class="radio-buttons">
        <input type="radio" id="visited" name="trip[visited]" value="true" checked>
        <label for="visited">Add to Journal</label>
        <input type="radio" id="not_visited" name="trip[visited]" value="false">
        <label for="not_visited">Add to Bucket List</label>
      </div>

      <input class="button" type="submit" value="Edit Entry">
    </form>
  </div>
</main>